# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build outputs
dist/
build/

# Jest coverage output
coverage/

# VSCode settings
.vscode/

# Mac OS system files
.DS_Store

# Optional npm cache
.npm/

# Yarn files
yarn-error.log

# Temporary files
*.tmp
*.temp

# Optional lock files (если не используешь их)
package-lock.json
yarn.lock
